#include <dt-bindings/zmk/matrix_transform.h>
/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };
    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <16>;
        rows = <1>;
        map = <
            // Left half
            RC(0,0) RC(0,1) RC(0,2)     // Top row
            RC(0,3) RC(0,4) RC(0,5)     // Middle row
            RC(0,6) RC(0,7)             // Bottom row

            // Right half
            RC(0,8) RC(0,9) RC(0,10)    // Top row
            RC(0,11) RC(0,12) RC(0,13)  // Middle row
            RC(0,14) RC(0,15)           // Bottom row
        >;
    };
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "KSCAN";
        input-gpios
            // Left half
            = <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&pro_micro 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            // Right half
            , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&pro_micro 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&pro_micro 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>
            ;
    };
};
