// ------------------------------------------------------------------------------------------------------ //
//  ####################################################################################################  //
//  ############################################# BRIEF ################################################  //
//  ####################################################################################################  //
// ------------------------------------------------------------------------------------------------------ //
// NOCC Mini 16 Prototype 2.0 (Pronounced "knock")
//  _   _   ____    _____   _____
// | \ | | / __ \  / ____| / ____|
// |  \| || |  | || |     | |
// | . ` || |  | || |     | |
// | |\  || |__| || |____ | |____
// |_| \_| \____/  \_____| \_____|
//
// The NOCC Mini 16 is focused on being portable (small & lightweight), ergonomic,
// yet, still fast to type and program with (symbols, VIM Motions, TMUX etc.) by
// making use of combos and behaviors. The Keymap is Mac focused but can be
// modified for Windows.
// ------------------------------------------------------------------------------------------------------ //
//  ####################################################################################################  //
//  ###################################### KEYMAP PIN ASSIGNMENT #######################################  //
//  ####################################################################################################  //
// ------------------------------------------------------------------------------------------------------ //
// Each Key is assigned a pin on the MCU. Use this map to create new combos, or edit existing ones.
// ** Example: 10 is the right hand thumb key and 16 is the right hand pinky key **
//
// 16 Key Keymap Pin Layout
// 0   1   2     3   4   5
// 6   7   8     9  10  11
// 12     13     14     15
// ------------------------------------------------------------------------------------------------------ //
//  ####################################################################################################  //
//  ############################################# INCLUDES #############################################  //
//  ####################################################################################################  //
// ------------------------------------------------------------------------------------------------------ //
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
/ {
// ------------------------------------------------------------------------------------------------------ //
//  ####################################################################################################  //
//  ############################################ BEHAVIORS #############################################  //
//  ####################################################################################################  //
// ------------------------------------------------------------------------------------------------------ //
    behaviors {
        //Activates Layer 1
        //One shot sticky layer
        //Any key pressed (except mod keys (cmd, shift etc.)) will trigger home layer switch
        sl_ignore_mods: sticky_layer_ignore_mods {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&mo>;
            release-after-ms = <200>;
            ignore-modifiers;
        };
        //Activates Layer 2
        //One shot sticky layer
        //Any key pressed (except mod keys (cmd, shift etc.)) will trigger home layer switch
        sl_caps: sl_caps {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            bindings = <&mo>;
            release-after-ms = <200>;
            ignore-modifiers;
        };
        //Does not deactivate layer
        //When tapped, next key is Right Command + Key
        //If held Right Command Key
         cmd_sticky_hold: cmd_sticky_hold {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&sk>;
        };
    };
// ------------------------------------------------------------------------------------------------------ //
//  ####################################################################################################  //
//  ############################################## COMBOS ##############################################  //
//  ####################################################################################################  //
// ------------------------------------------------------------------------------------------------------ //
    combos {
        compatible = "zmk,combos";
// ------------------------------------------------------------------------------------------------------ //
//  ######################################### FUNCTION COMBOS ##########################################  //
// ------------------------------------------------------------------------------------------------------ //
    //Switches to Alpha Caps Layer 2
    //Initiated on Layer 0
    combo_caps_layer {
        timeout-ms = <50>;
        key-positions = <14 4>;
        bindings = <&sl_caps 2>;
        };
    //Next  Key on Layer 0 is Shifted
    //Initiated on Layer 0
    combo_layer_0_shift_next {
        timeout-ms = <50>;
        key-positions = <13 1>;
        bindings = <&sk LSHFT>;
        layers = <0>;
        };
   //Initiated on Layer 0
   //Output: Repeat Last Key
    combo_repeat_last_key {
        timeout-ms = <50>;
        key-positions = <14 15>;
        bindings = <&key_repeat>;
        layers = <0>;
        };
    //Initiated on Layer 0
   //Output: Enter
    combo_enter {
        timeout-ms = <50>;
        key-positions = <13 14>;
        bindings = <&kp ENTER>;
        layers = <0>;
        };
    //Initiated on Layer 0
    //Output: Backspace
    combo_backspace {
        timeout-ms = <50>;
        key-positions = <9 10>;
        bindings = <&kp BACKSPACE>;
        layers = <0>;
        };
    //Initiated on Layer 0
   //Output: Escape
    combo_esc {
        timeout-ms = <50>;
        key-positions = <1 2>;
        bindings = <&kp ESCAPE>;
        layers = <0>;
        };
    //Initiated on Layer 0
    //Output: Tab
    combo_tab {
        timeout-ms = <50>;
        key-positions = <7 8>;
        bindings = <&kp TAB>;
        layers = <0>;
        };
// ------------------------------------------------------------------------------------------------------ //
//  ########################################### NUMBER COMBOS ##########################################  //
// ------------------------------------------------------------------------------------------------------ //
   //Output: "7"
    combo_num_seven {
        timeout-ms = <50>;
        key-positions = <3 4>;
        bindings = <&kp N7>;
        layers = <2>;
        };
   //Output: "8"
    combo_num_eight {
        timeout-ms = <50>;
        key-positions = <4 5>;
        bindings = <&kp N8>;
        layers = <2>;
        };
   //Output: "9"
    combo_num_nine {
        timeout-ms = <50>;
        key-positions = <9 10>;
        bindings = <&kp N9>;
        layers = <2>;
        };
// ------------------------------------------------------------------------------------------------------ //
//  ########################################## SYMBOL COMBOS ###########################################  //
// ------------------------------------------------------------------------------------------------------ //

};
// ------------------------------------------------------------------------------------------------------ //
//  ####################################################################################################  //
//  ############################################# KEYMAP ###############################################  //
//  ####################################################################################################  //
// ------------------------------------------------------------------------------------------------------ //
    keymap {
        compatible = "zmk,keymap";
// ------------------------------------------------------------------------------------------------------ //
//  ##################################### ALPHA #1 & SYMBOLS (combos) ##################################  //
// ------------------------------------------------------------------------------------------------------ //
// |   l + CTRL  |    g + OPTN   |    d + CMD   | //    // |   h + CMD   |    u + OPTN    |  o + CTRL   | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |    s + L5   |     r + L4    |    t + L3    | //    // |   n + L3    |     e + L4     |    a + L5   | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |  i + SHIFT  |               |  SPACE + MEH | //    // |     L1      |                |  c + SHIFT  | //
// ------------ //               // ------------- //    // ------------ //                // ------------ //
        layer_0 {
            bindings = <

&mt LEFT_CONTROL L &mt  LALT G &mt LEFT_COMMAND D        &mt RIGHT_COMMAND H &mt RALT U &mt RIGHT_CONTROL O
&lt 5 S            &lt 4 R     &lt 3 T                   &lt 3 N             &lt 4 E    &lt 5 A
&mt LEFT_SHIFT I               &mt LC(LS(LALT)) SPACE    &sl_ignore_mods 1              &mt RIGHT_SHIFT C

            >;
        };
// ------------------------------------------------------------------------------------------------------ //
//  ############################################# ALPHA #2 #############################################  //
// ------------------------------------------------------------------------------------------------------ //
// |      v      |       w       |      m       | //    // |      y      |        f       |      z      | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |      j      |       p       |      k       | //    // |      b      |        q       |      x      | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |    NONE     |               |    COMMAND   | //    // |    NONE     |                |     NONE    | //
// ------------ //               // ------------- //    // ------------ //                // ------------ //
        layer_1 {
            bindings = <

            &kp V      &kp W      &kp M                              &kp Y      &kp F      &kp Z
            &kp J      &kp P      &kp K                              &kp B      &kp Q      &kp X
            &none                 &kp LEFT_COMMAND                   &none                 &none

            >;
        };
// ------------------------------------------------------------------------------------------------------ //
//  ########################################### ALPHA #2 CAPS ##########################################  //
// ------------------------------------------------------------------------------------------------------ //
// |      V      |       W       |      M       | //    // |      Y      |        F       |      Z      | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |      J      |       P       |      K       | //    // |      B      |        Q       |      X      | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |    NONE     |               |     NONE     | //    // |    NONE     |                |     NONE    | //
// ------------ //               // ------------- //    // ------------ //                // ------------ //
        layer_2 {
            bindings = <

            &kp LS(V)  &kp LS(W)  &kp LS(M)                &kp LS(Y)  &kp LS(F)  &kp LS(Z)
            &kp LS(J)  &kp LS(P)  &kp LS(K)                &kp LS(B)  &kp LS(Q)  &kp LS(X)
            &none                 &none                    &none                 &none

            >;
        };
// ------------------------------------------------------------------------------------------------------ //
//  ############################################ NUMS / ARROWS #########################################  //
// ------------------------------------------------------------------------------------------------------ //
// |             |       UP       |             | //    // |      4   (7)|(7)     5    (8)|(8)   6      | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |     LEFT    |      DOWN      |    RIGHT    | //    // |      1   (9)|(9)     2       |      3      | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |             |                |             | //    // |             |                |      0      | //
// ------------ //               // ------------- //    // ------------ //                // ------------ //
        layer_3 {

            bindings = <
            &none      &kp UP       &none                          &kp N4      &kp N5      &kp N6
            &kp LEFT   &kp DOWN     &kp RIGHT                      &kp N1      &kp N2      &kp N3
            &none                   &none                          &none                   &kp N0

            >;
        };
// ------------------------------------------------------------------------------------------------------ //
//  ################################################ VIM ###############################################  //
// ------------------------------------------------------------------------------------------------------ //
// |             |                |             | //    // |             |                |             | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |             |                |             | //    // |      H      |        J       |      K      | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |             |                |             | //    // |             |                |      L      | //
// ------------ //               // ------------- //    // ------------ //                // ------------ //
        layer_4 {
            bindings = <

           &none      &none       &none                              &none      &none      &none
           &none      &none       &none                              &kp H      &kp J      &kp K
           &none                  &none                              &none                 &kp L

            >;
        };
// ------------------------------------------------------------------------------------------------------ //
//  ############################################# BLUETOOTH ############################################  //
// ------------------------------------------------------------------------------------------------------ //
// |  CLEAR ALL  |                |             | //    // |            |                |              | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// | BT Layer 0  |   BT Layer 1   |             | //    // |            |               |               | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |             |                |             | //    // |            |               |               | //
// ------------ //               // ------------- //    // ------------ //                // ------------ //
        layer_5 {
            bindings = <

       &bt BT_CLR      &none         &none                           &none     &none      &none
       &bt BT_SEL 0    &bt BT_SEL 1  &none                           &none     &none      &none
       &none                         &none                           &none                &none

            >;
        };
    };
};
