//  _   _  ____   _____ _____
// | \ | |/ __ \ / ____/ ____|
// |  \| | |  | | |   | |
// | . ` | |  | | |   | |
// | |\  | |__| | |___| |____
// |_| \_|\____/ \_____\_____|

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // L0
// ---------------------------------------------- //    // ---------------------------------------------- //
// |      L      |       G       |      D       | //    // |      H      |        U       |      O      | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |      S      |       R       |    T + L2    | //    // |   N + L2    |        E       |      A      | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |   I + CMD   |  SPACE + MEH  |  Tab + Shift | //    // |     L1      |   BCK + CNTRL  |      C      | //
// ---------------------------------------------- //    // ---------------------------------------------- //
            bindings = <
                &kp L   &trans    &trans                             &trans    &trans    &trans
                &trans   &trans    &trans                             &trans    &trans    &trans
                &trans   &trans    &trans                             &trans    &trans    &trans
            >;
        };
        alphas { // L1
// ---------------------------------------------- //    // ---------------------------------------------- //
// |      V      |       W       |      M       | //    // |      Y      |        F       |      Z      | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |      J      |       P       |      K       | //    // |      B      |        Q       |      X      | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |    COMMAND  |  SPACE + MEH  |  Tab + Shift | //    // |             |   BCK + CNTRL  |   COMMAND   | //
// ---------------------------------------------- //    // ---------------------------------------------- //
            bindings = <
                &trans   &trans    &trans                             &trans    &trans    &trans
                &trans   &trans    &trans                             &trans    &trans    &trans
                &trans   &trans    &trans                             &trans    &trans    &trans
            >;
        };
        nums { // L2
// ---------------------------------------------- //    // ---------------------------------------------- //
// |             |       UP       |             | //    // |      4      |        5       |      6      | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |     LEFT    |      DOWN      |    RIGHT    | //    // |      1      |        2       |      3      | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |             |                |             | //    // |             |                |             | //
// ---------------------------------------------- //    // ---------------------------------------------- //
            bindings = <
                &trans   &trans    &trans                             &trans    &trans    &trans
                &trans   &trans    &trans                             &trans    &trans    &trans
                &trans   &trans    &trans                             &trans    &trans    &trans
            >;
        };
    };
};
