// ------------------------------------------------------------------------------------------------------ //
//  ####################################################################################################  //
//  ############################################# BRIEF ################################################  //
//  ####################################################################################################  //
// ------------------------------------------------------------------------------------------------------ //
// NOCC Mini 16 Prototype 2.0 (Pronounced "knock")
//  _   _   ____    _____   _____
// | \ | | / __ \  / ____| / ____|
// |  \| || |  | || |     | |
// | . ` || |  | || |     | |
// | |\  || |__| || |____ | |____
// |_| \_| \____/  \_____| \_____|
//
// The NOCC Mini 16 is focused on being portable (small & lightweight), ergonomic,
// yet, still fast to type and program with (symbols, VIM Motions, TMUX etc.) by
// making use of combos and behaviors. The Keymap is Mac focused but can be
// modified for Windows.
// ------------------------------------------------------------------------------------------------------ //
//  ####################################################################################################  //
//  ###################################### KEYMAP PIN ASSIGNMENT #######################################  //
//  ####################################################################################################  //
// ------------------------------------------------------------------------------------------------------ //
// Each Key is assigned a pin on the MCU. Use this map to create new combos, or edit existing ones.
// ** Example: 10 is the right hand thumb key and 16 is the right hand pinky key **
//
// 16 Key Keymap Pin Layout
// 0   1   2     3   4   5
// 6   7   8     9  10  11
// 12     13     14     15
// ------------------------------------------------------------------------------------------------------ //
//  ####################################################################################################  //
//  ############################################# INCLUDES #############################################  //
//  ####################################################################################################  //
// ------------------------------------------------------------------------------------------------------ //
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
/ {
// ------------------------------------------------------------------------------------------------------ //
//  ####################################################################################################  //
//  ############################################ BEHAVIORS #############################################  //
//  ####################################################################################################  //
// ------------------------------------------------------------------------------------------------------ //
    behaviors {

    };
// ------------------------------------------------------------------------------------------------------ //
//  ####################################################################################################  //
//  ############################################## COMBOS ##############################################  //
//  ####################################################################################################  //
// ------------------------------------------------------------------------------------------------------ //
    combos {
        compatible = "zmk,combos";
// ------------------------------------------------------------------------------------------------------ //
//  ######################################### FUNCTION COMBOS ##########################################  //
// ------------------------------------------------------------------------------------------------------ //
   //Output: Enter
    combo_enter {
        timeout-ms = <50>;
        key-positions = <13 14>;
        bindings = <&kp ENTER>;
        layers = <0>;
        };
    combo_test {
        timeout-ms = <50>;
        key-positions = <2 12>;
        bindings = <&kp PERIOD>;
        layers = <0>;
    };

// ------------------------------------------------------------------------------------------------------ //
//  ########################################### NUMBER COMBOS ##########################################  //
// ------------------------------------------------------------------------------------------------------ //
// ------------------------------------------------------------------------------------------------------ //
//  ########################################## SYMBOL COMBOS ###########################################  //
// ------------------------------------------------------------------------------------------------------ //
};
// ------------------------------------------------------------------------------------------------------ //
//  ####################################################################################################  //
//  ############################################# KEYMAP ###############################################  //
//  ####################################################################################################  //
// ------------------------------------------------------------------------------------------------------ //
    keymap {
        compatible = "zmk,keymap";
// ------------------------------------------------------------------------------------------------------ //
//  ##################################### ALPHA #1 & SYMBOLS (combos) ##################################  //
// ------------------------------------------------------------------------------------------------------ //
// |   l + CTRL  |    g + OPTN   |    d + CMD   | //    // |   h + CTRL  |    u + OPTN    |   o + CMD   | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |    s + L5   |     r + L4    |    t + L3    | //    // |   n + L3    |     e + L4     |    a + L5   | //
// ---------------------------------------------- //    // ---------------------------------------------- //
// |  i + SHIFT  |               |  SPACE + MEH | //    // |     L1      |                |  c + SHIFT  | //
// ------------ //               // ------------- //    // ------------ //                // ------------ //
        alphas {
            bindings = <

           &kp L      &kp G      &kp D                              &kp H      &kp U      &kp O
           &kp S      &kp R      &kp T                              &kp N      &kp E      &kp A
           &kp I                 &kp SPACE                          &kp BACKSPACE     &kp C

            >;
        };
    };
};
